/*
 Student Name: Miguel Poma
 File Name: training.css
 Date: Dec 6, 2023
*/
/* Add styling for the form */
form {
    width: 60%;
    margin: 0 auto;
}


#form { 
    margin-top: 2%; 
    background-color: #f2f2f2; 
    padding: 2%; 
}

#form h2 {
    text-align: center;
}
/* Style rules for form elements */
fieldset, input, select, textarea { 
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold; 
    font-size: 1.25em;
}

label { 
    display: block; 
    padding-top: 3%; 
}

form #submit {
    margin: 0 auto; 
    border: none;
    display: block; 
    padding: 2%; 
    background-color: #b3b3b3; 
    font-size: 1em; 
    border-radius: 10px; 
} 
